/*Desenvolvido por: AqGoes*/
/*Paleta de core -->  https://www.colourlovers.com/palette/4892372/Cabbage */
/*Fonte titulo*/
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
/*Fonte paragrafo*/
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

/*Estilos Gerais*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor5);
}
h1, h2, h3, h4{
    font-family: var(--font-titulo);
}
p{
    font-family: var(--font-paragrafo);
    line-height: 1.8em;
}

/*Cabeçalho*/
header
{
    padding-top: 40px;
    height: 120px;
    width: 100%;
    background-color: var(--cor1);
    color: #fff;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
}

/*Menu*/
nav{
    position: relative;
    float: right;
    padding-right: 150px;
}
nav a {
    padding: 25px;
    margin: 10px;
    color: #fff;
    font-family: var(--font-titulo);
    font-size: 35px;
    box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.349);
    border-radius: 15px;
    text-decoration: none;
}
nav a:hover{
    box-shadow: none;
    text-decoration: underline;
    color: var(--cor4);
}

/*logo*/
.logo{
    position: absolute;
}
.logo h1{
    font-size: 35px;
    margin-left: 150px;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
.logo a:hover{
    padding: 15px;
    border-radius: 50%;
    background-color: var(--cor2);
}
.logo span{
    color: var(--cor4);
}
.logo span:hover{
    color: #fff;
}

/*Variáveis*/
:root{
    /*cores do site*/
    --cor1: #325916;
    --cor2: #608246;
    --cor3: #9FAC64;
    --cor4: #CFCA78;
    --cor5: #F4F0C3;

    /*Fonte dos titulos*/
    --font-titulo: 'Yeon Sung', cursive;
    --font-paragrafo:  'Secular One', sans-serif;
}


